.logo {
    padding: 50px;
}

.nav-container {
    border-right: #213547 1px solid;
    color: #213547;
}

.menu {
    padding: 50px;
    flex-grow: 2;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

a {
    color: #213547;
    font-size: 25px;
    font-weight: bold ;
}

.zoekmenu {
    background-color: white;
    border: #213547 1px solid;
    margin: 10px 0 40px 0;
}