.overview {
    width: 70vw;
    height: 80vh;
    border: #213547 1px solid;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;

}

.rack {
    padding: 10px 75px;
    margin: 5px;
    border: 2px solid greenyellow;
    width: 20vw;
    height: 3vh;
    text-align: center;

}

.gebouw {
    margin: 40px;
}